/*
* Google font
**/
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body {
  font-family: 'Raleway', sans-serif;
}

.content-padding {
  padding: 40px 0;
}

.logo {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 0;
}

.home {
  padding: 25px 0;
  color: #FFF;
  /*background-color: #e34641;*/
  background-color: #77685D;
}

.home p {
  color: #ccc;
  font-size: 16px;
}


.mockup img {
  margin: 0 auto;
}

.feature-title {
  margin-top: 5px;
  font-weight: bold;
}

.row-features {
  margin-top: 30px;
}

.btn-text-line {
  line-height: 55px;
}

.btn-primary
, .btn-primary[disabled]
, .btn-primary[disabled]:hover
, .btn-primary[disabled]:focus
, .btn-primary[disabled]:active
, .btn-primary:active
, .btn-primary:hover {
  border-color: #A39A92 !important;
  background-color: #A39A92 !important;
}

@media ( min-width: 768px ) {
  .home-left-text {
    padding-top: 50px;
  }
}
@media ( max-width: 992px ) {
  .home-left-text {
    margin-bottom: 30px;
  }
}

/*
.header {
  padding: 140px 0 140px;
  background-color: #ddd;
}

.header-background {
  background: url( /resources/images/pizza-background.jpg ) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-overlay {
  background-color: rgba( 255, 255, 255, 0.9 );
  border-radius: 5px;
  padding: 30px;
}

.header h1 {
  margin-bottom: 30px;
}
*/
.footer {
  background-color: #e34641;
  color: #fff;
  padding: 20px;
}
.footer a, .footer a:hover {
  color: #eee;
}

h1 { font-size: 52px; }
h2 { font-size: 34px; }
h3 { font-size: 18px; }
h3 + h3 { margin-top: 20px; }


.form-control {
  font-size: 16px;
  padding: 6px 12px;
  height: 40px;
  background-color: #fafafa;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.btn {
  font-weight: bold;
}
/*
.btn-primary {
  border-color: #337ab7;
}
.btn-primary:hover {
  border-color: #286090;
}
*/
